[submodule "generator/doc/mustache"]
	path = generator/doc/mustache
	url = https://github.com/defunkt/mustache.git
[submodule "generator/doc/json"]
	path = generator/doc/json
	url = https://github.com/flori/json.git
[submodule "generator/doc/mustache.github.com"]
	path = generator/doc/mustache.github.com
	url = https://github.com/mustache/mustache.github.com.git
